html,
body{height: 100%;
    margin: 0;
    padding: 0;
}

.all-page{
    background-image: url('./Illustrations\ +\ Logo/All pages/arrière_plan.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}